# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/

# Celery
celerybeat-schedule
celerybeat.pid

# OS
.DS_Store
Thumbs.db